*[style*="display: none"] {
  display: none !important;
}
html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #f1f1f1;
}
.pointer {
  cursor: pointer;
}
.min-width-512 {
  min-width: 512px;
}
.min-width-420 {
  min-width: 420px;
}
.min-width-256 {
  min-width: 256px;
}
.max-width-256 {
  max-width: 256px;
}
.max-width-512 {
  max-width: 512px;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.mt-60 {
  margin-top: 2.5rem;
}
.mt-40 {
  margin-top: 2rem;
}
.mt-20 {
  margin-top: 1.5rem;
}
.mt-80 {
  margin-top: 3.5rem;
}
.mt-100 {
  margin-top: 4rem;
}
.display-10 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.1;
}
.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.word-wrap-break {
  word-wrap: break-word;
}
.word-break {
  word-break: break-all;
}
input:invalid {
  border-color: #ff2200;
}
input:valid + .invalid {
  display: none;
}
input + .invalid {
  display: none;
}
input:invalid + .invalid {
  display: block;
}
.minvalid {
  display: none;
}
.input-clear {
  background: transparent;
  border: 0;
  outline: none;
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 12pt;
  cursor: pointer;
}
.abs {
  position: absolute;
  top: 0px;
  left: 0px;
}
.relative {
  position: relative;
}
.allow-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}
.overflow-y-visible {
  overflow-y: visible;
}
.radio-create {
  cursor: pointer;
}
.abs-tr {
  position: absolute;
  top: 0px;
  right: 0px;
}
.snackbar {
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
  height: auto;
  font-size: 12pt;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 512px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.snackbar .snackbar-content {
  padding: 1rem;
}
.navbar-shadow {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.navbar-blur {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.pweet-icon-circle {
  background: #2196f3;
  padding: 20px;
  border-radius: 100%;
  overflow: hidden;
  height: 256px;
  width: 256px;
}
.pweet-icon-circle img {
  width: 100%;
  height: 100%;
}
.pweet-info {
  padding: 0px;
  text-align: center;
  margin-top: 5%;
}
.pweet-compose {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  background: white;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 9999;
}
.pweet-compose .invalid {
  color: #ff2200;
}
.pweet-compose-inline {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  background: white;
  padding: 10px;
  width: 100%;
}
.pweet-compose-inline .invalid {
  color: #ff2200;
}
.pweeter {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.pweet {
  opacity: 0;
  background: white;
  border-bottom: 1px solid lightgrey;
  transition: all 0.5s ease;
  margin-top: 10px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.pweet .pweet-date {
  padding: 0px 10px 10px 10px;
  font-size: 1rem;
}
.pweet .pweet-replies .pweet {
  margin-top: 1px !important;
}
.pweet .pweet-replies .pweet:last-child {
  margin-bottom: 0px !important;
}
.pweet .pweet-header {
  padding: 5px;
}
.pweet .pweet-header .pweet-username {
  padding: 0px 5px 0px 5px;
  font-weight: 600;
  font-size: 1.5rem;
}
.pweet .pweet-header .pweet-address {
  padding: 0px 5px 0px 5px;
  font-size: 0.75rem;
  display: inline-block;
  word-break: break-all;
}
.pweet .pweet-header img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  padding: 5px;
}
.pweet .pweet-header p {
  margin: 0px !important;
}
.pweet .pweet-message {
  padding: 10px;
  font-size: 1.25rem;
  word-break: break-all;
}
.pweet .pweet-message img {
  width: 100% !important;
  height: auto;
}
.pweet .pweet-message video {
  width: 100% !important;
  min-height: 128px;
}
.pweet .pweet-message audio {
  width: 100% !important;
}
.pweet .pweet-embed {
  padding: 10px;
  font-size: 1rem;
}
.pweet .pweet-options {
  font-size: 1.125rem;
  border-top: 1px solid lightgray;
}
.pweet .pweet-options a {
  padding: 5px 10px;
  color: #ccc;
}
.pweet .pweet-options div {
  padding: 5px 10px;
  color: #ccc;
  cursor: pointer;
}
.pweet .pweet-options div:hover {
  color: #4f4f4f;
}
.pweet .pweet-options a:hover {
  color: #4f4f4f;
}
.pweet:last-child {
  margin-bottom: 10px;
}
.pweet .pweet-replies .pweet:last-child {
  margin-bottom: 0px;
}
.pweet-quote-embed {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid lightgray;
  background: #f1f1f1;
}
.pweet-quote-embed .pweet-options {
  display: none !important;
}
.pweet-embedded {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-nav {
  flex-direction: row !important;
}
.fade-active {
  transition: all 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.fade-inactive {
  transition: all 0.5s ease;
  opacity: 0;
  visibility: collapse;
}
.slide-fade-active {
  transition: all 0.5s ease;
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.slide-fade-inactive {
  transition: all 0.5s ease;
  transform: translateX(-200px);
  opacity: 0;
  visibility: collapse;
}
.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.hidden-file {
  position: fixed;
  left: -9999px;
  opacity: 0;
}
.display-block {
  display: block;
}
.first-margin .first-div:not([style*="display: none;"]) {
  margin-top: 65px !important;
}
.first-margin .first-div:not([style*="display: none;"]) + .first-div {
  margin-top: 0px !important;
}
.fixed-center {
  position: fixed;
  left: auto;
  right: auto;
  top: 45%;
  bottom: auto;
  width: 100%;
  height: auto;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 512px) {
  .mobile-column {
    flex-direction: column;
  }
  .min-width-512 {
    min-width: 0;
    width: 100%;
  }
  .min-width-256 {
    min-width: 0;
    width: 100%;
  }
  .min-width-420 {
    min-width: 340px;
  }
  .w-75,
  .w-50,
  .w-25 {
    width: 100% !important;
  }
  .row {
    flex: 0 0 100%;
  }
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar-nav li a span {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .min-width-256 {
    min-width: 0;
    width: 100%;
  }
  .min-width-420 {
    min-width: 290px;
  }
  .row {
    flex: 0 0 100%;
  }
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .w-75,
  .w-50,
  .w-25 {
    width: 100% !important;
  }
}
